<h2>List of UFC fighters</h2>
<ul class="fighters">
  <li *ngFor="let fighter of (fighters$ | async)"
    (click)="onSelect(fighter.id)">
    <span class="badge">{{ fighter.id }}</span> {{ fighter.first_name }} {{ fighter.last_name }}
  </li>
</ul>

<div *ngIf="selectedFighter$ | async as selectedFighter">

  <h2>{{ selectedFighter.first_name | uppercase }} {{ selectedFighter.last_name | uppercase }} Details</h2>
  <div>      
    <img src="{{ selectedFighter.profile_image }}">
  </div>
  <div>
    <label>name:
      {{ selectedFighter.first_name }} {{ selectedFighter.last_name }}
    </label>
  </div>
  <div>
    <label>nickname: 
        {{ selectedFighter.nickname || "None" }}
    </label>
  </div>
  <div>
    <label>wins: 
        {{ selectedFighter.wins }}
    </label>
  </div>
  <div>
      <label>losses: 
          {{ selectedFighter.losses }}
      </label>
  </div>
  <div>
      <label>draws: 
          {{ selectedFighter.draws }}
      </label>
  </div>
  <div>
    <label>weight class:
        {{ selectedFighter.weight_class }}
    </label>
  </div>
</div>